// Fonts
font = 'nunitoregular'

// Colours
black =        #000000;
near-black =   #111111;
dark-gray =    #333333;
mid-gray =     #555555;
gray =         #777777;
silver =       #999999;
light-silver = #aaaaaa;
moon-gray =    #cccccc;
light-gray =   #eeeeee;
near-white =   #f4f4f4;
white =        #ffffff;

