/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                            BROWSER WIDTH
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
#issue-bw-w {
    display: none;
    position: fixed 0;
    z-index: 9999;
    text-align: center;
    background: #fff;
}
#issue-bw {
    position: absolute;
    top: 47%;
    left: 0;
    width: 100%;
}
@media (width <= 999px)
{
    #issue-bw-w {
        display: block;
    }
}
body.is-mobile #issue-bw-w {
    display: block;
}
