// === Vendor === //
@import 'src/asset/css/app/vendor/_normalise'

// === Fonts === //
@import 'src/asset/css/app/lib/_fonts'

// === Vars === //
@import 'src/asset/css/app/vars/_vars'

html
	font-family font
	overflow-x hidden

#app
	width 100%
	height 100%
	overflow hidden
	position relative

nav
	position fixed
	z-index 10
	background-color white

.container
	width 100vw
	height 100vh
	color near-black

.full-centered
	display flex
	justify-content center
	align-items center
	font-size 1vw
	height 100%
	width 100%

#issue-ub-w
	display none
	position fixed
	z-index 9999
	text-align center
	background white

#issue-ub
	position absolute
	top 48%
	left 0
	width 100%

.old-browser #issue-ub-w
	display block

#loader
	height 100vh
	width 100vw
	position fixed
	background near-black
	display flex
	justify-content center
	align-items center
	z-index 200

#loader-txt
	font-size 1vw
	color white
	transform translate3d(0,0,0) /* chrome 62 bug */
